numpy 
opencv-python-headless
requests 
requests-oauthlib==1.3.0
streamlit==0.84.0
tensorboard 
tensorboard-plugin-wit
tensorflow==2.3.0
tensorflow-addons==0.13.0
tensorflow-estimator 
urllib3 
paddlepaddle
paddleocr